/* All styles for your header Components live here */
.header-container {
	display: flex;
	margin: 7px 2px;
	border: 1px solid blue;
}

.header-container .image-thumbnail {
	width: 50px;
	height: 50px;
}

.header-container .title-content {
	border: 1px solid black;
}

.header-container .title-content .header-title {
	display: flex;
	align-items: flex-start;
	border: 1px solid red;
}

.header-container .title-content .header-content {
	font-size: 14px;
}